ul {
  list-style: none;
  li {
    position: relative;
    color: var(--color);
    padding: 16px 16px;
    display: flex;
    flex-direction: row;
    border: 1px solid #cacaca;
    margin-bottom: 8px;
    border-radius: 8px;

    justify-content: space-between;
    span {
      font-weight: 500;
    }
    button {
      padding: 2px 4px;
      background-color: rgb(235, 90, 90);
      color: white;
      padding: 4px 16px 8px;
      display:flex;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
      position: absolute;
      border: 1px solid rgb(235, 90, 90);
      height: 100%;
      top: 0;
      right: 0;
      &:hover {
        animation-name: buttonAnimation;
        animation-duration: 0.5s;
      }
    }
  }
}

@keyframes buttonAnimation {
  from {
    background-color: rgb(235, 90, 90);
  }
  to {
    background-color: rgb(237, 171, 171);
  }
}
