.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  main {
    background: var(--background);
    max-width: 100%;
    margin: 0 auto;
    @media (max-width:480px){
      width: 100%;
    }
    padding: 64px;
    display: flex;
    flex-direction: column;
    position: relative;
    
    .close {
      color: var(--color);
      position: absolute;
      top: 16px;
      background-color: var(--background);
      right: 16px;
      cursor: pointer;
      border: none;
    }
    input {
      padding: 8px;
      border: 1px solid #cacaca;
      border-radius: 8px;
      font-size: medium;
    }

    .save {
      border: none;
      padding: 8px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      background: var(--color);
      color: var(--background);
    }
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
